@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
}

.bg {
    width: 100%;
    height: 55px;
    background-color: #000000;
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;    
}
.nav {
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    box-sizing: border-box;
    width: 1170px;
    height: 60px;
}
.logo img {
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 30px;
    height: 30px;
    
}
.logo h3 {
    color: white;
    position: absolute;
    left: 6%;
    top: 30%;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
}
.nav>ul{
    position: absolute;
    top: -5px;
    right: -20px;
}
.nav > ul >li {
    float: left;    
    
}
.nav > ul > li > a{
    display: block;
    color: #fff;
    padding: 25px;
    font-size: 14px;
}
.nav > ul > li > a:hover {
    color: #56a2ff;
}


/*λ©”μΈ*/
.main {
    width: 100%;
    height: 557px;
    background-color: #d9d9d9;
    position: relative;
    top: 150px;

}
.sign_up {
    position: absolute;
    top: 150px;
    right: 300px;
    width: 430px;
    height: 557px;
    background-color: #091E3F;
}

.main h1 {
    position: absolute;
    top: 100px;
    left: 400px;
}
.main h4 {
    position: absolute;
    top: 150px;
    left: 370px;
}
.main .id, .pw {
    width: 300px;
    height: 40px;
    padding-left: 10px;
}
.id {
    position: absolute;
    top: 200px;
    left: 350px;
}
.pw {
    position: absolute;
    top: 260px;
    left: 350px;
}
.btn1 {
    position: absolute;
    top: 330px;
    left: 350px;
    width: 313px;
    height: 40px;
    background-color: #091d3f;
    color: #fff;
}
.btn1:hover {
    border: 2px solid rgb(255, 255, 255);
}
.check {
    position: absolute;
    top: 380px;
    left: 350px;
}
.main p {
    position: absolute;
    top: 375px;
    left: 375px;
}
.idpw {
    position: absolute;
    top: 375px;
    left: 510px;
}
.sign_up h3 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 110px;
    left: 30px;
}
.sign_up img {
    width: 69px;
    height: 59px;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%,0);
}
.sign_up h4 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%,0);
}
.btn2 {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%,0);
    width: 313px;
    height: 40px;
    background-color: #fff;
    color: #091d3f;
}
.btn2:hover {
    border: 2px solid #696969;
}
/*ν‘Έν„°*/
footer {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 900px;
}
footer img {
    width: 100%;
    height: 500px;
}
.f_box {
    width: 50%;
    height: 500px;
    background-color: #091d3f;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.f_box2 {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #091d3f;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.f_box h1 {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 200px;
    left: -200px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
}
.f_box p {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 270px;
    left: -100px;
}
.f_box .footer_p {
    color: #fff;
    text-align: right;
    position: absolute;
    top: 70px;
    right: 5%;
}
.f_box img{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
}
.f_box .icon1 {
    position: absolute;
    right: 270px;
    bottom: 30px;
}
.f_box .icon2 {
    position: absolute;
    right: 200px;
    bottom: 30px;
}
select {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 120px;
    height: 30px;
}